* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background: #F7F7F7;
}

.returnLink {
  width: 17.2px;
  height: 16px;
  color: #353535;
  position: absolute;
  background-color: #fff;
  top: 22px;
  left: 20px;
}

header {
  width: 100%;
  height: 63px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .logo {
  width: 162px;
  height: 44px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
  background-color: #fff;
}

.restaurantPic {
  height: 275px;
  width: 100%;
}
.restaurantPic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  height: 1085px;
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 40px;
  position: relative;
  top: -55px;
  z-index: 2;
  padding-top: 32px;
}
.menu__heading {
  margin: auto;
  width: 100%;
  height: 27px;
  display: flex;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.menu__heading__text {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
}
.menu__heading__text h3 {
  font-weight: 300;
  color: #101010;
}
.menu__heading__icon {
  width: 22px;
  height: 21px;
  font-size: 22px;
  margin-top: -4px;
  position: relative;
}
.menu__heading__icon:hover .fa-heart {
  display: none;
}
.menu__heading__icon path {
  fill: url(#heartHover);
}
.menu__heading__icon .stop1 {
  stop-color: #9356DC;
}
.menu__heading__icon .stop2 {
  stop-color: #FF79DA;
}
.menu__heading__icon svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  transition: all 850ms ease-in-out;
}
.menu__heading__icon svg:hover {
  opacity: 1;
  transform: scale(1.088);
}
.menu__button {
  width: 186px;
  height: 50px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  text-decoration: none;
  transition: all 800ms ease-in-out;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.menu__button:hover, .menu__button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.menu__button h3 {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.menuEntrance__text {
  margin-top: 42px;
  margin-left: 13px;
  height: 27px;
  width: 275px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menuEntrance hr {
  margin-left: 13px;
  width: 40px;
  border: 3px solid #99E2D0;
}
.menuEntrance__items {
  text-decoration: none;
  color: black;
  width: 94%;
  height: 69px;
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
  margin-left: 13px;
  position: relative;
  z-index: 1;
  transition: all 500ms ease-in-out;
}
.menuEntrance__items:hover .menuEntrance__items__hover {
  width: 59px;
}
.menuEntrance__items:hover .fa-circle-check {
  opacity: 1;
  transform: rotate(360deg);
}
.menuEntrance__items:hover .menuEntrance__items__text {
  width: 80%;
  border-radius: 15px 0px 0px 15px;
}
.menuEntrance__items:hover h3 {
  width: 85%;
}
.menuEntrance__items__text {
  width: 80%;
  height: 100%;
  display: flex;
  padding: 12px 0px 12px 15px;
  align-items: flex-end;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  flex-grow: 1;
  transition: all 500ms ease-in-out;
}
.menuEntrance__items__text__writing {
  width: 87%;
  height: 100%;
  flex-direction: column;
  gap: 5px;
}
.menuEntrance__items__text__writing h3 {
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  height: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menuEntrance__items__text__writing p {
  font-weight: 300;
  font-size: 15.0431px;
  width: 90%;
  height: 19px;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menuEntrance__items__text__price {
  height: 18px;
  width: 27px;
  padding-right: 35px;
}
.menuEntrance__items__hover {
  width: 0px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  position: relative;
  z-index: 0;
  transition: all 500ms ease-in-out;
}
.menuEntrance__items__hover .fa-circle-check {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: transform opacity;
  transition-delay: 140ms, 170ms;
}

.footer {
  width: 100%;
  height: 195px;
  background-color: #353535;
  padding-top: 20px;
}
.footer__logo {
  width: 137.58px;
  height: 27px;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin: 22px 0px 0px 25px;
}
.footer__link {
  height: 90px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 22px 0px 0px 25px;
}
.footer__link__text {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  color: #FFFFFF;
  display: flex;
  gap: 10px;
  font-weight: 500;
}
.footer__link__text--margin {
  margin-left: 5px;
}
.footer__link__text--fSize {
  font-weight: 300;
}

@media screen and (max-width: 360px) {
  .menu__heading__text {
    font-size: 17px;
  }
  .menuEntrance__text {
    font-size: 13px;
    width: 250px;
  }
  .menuEntrance__items {
    width: 91%;
  }
  .menuEntrance__items__text__writing {
    width: 85%;
  }
  .menuEntrance__items__text__writing h3 {
    font-size: 13px;
  }
  .menuEntrance__items__text__writing p {
    font-size: 10px;
    width: 95%;
  }
  .menuEntrance__items__text__price {
    font-size: 10px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  body {
    background-color: #fff;
  }
  .menu {
    width: 70%;
    margin: auto;
    height: 1135px;
    border-radius: 40px 40px 0px 0px;
  }
  .menu__heading {
    justify-content: center;
    gap: 30px;
  }
  .menuEntrance__items__text {
    gap: 20px;
  }
  .menuEntrance {
    width: 78%;
    margin: auto;
  }
  .footer {
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: -55px;
  }
  .footer__logo {
    margin: 20px;
  }
  .footer__link {
    width: 630px;
    flex-direction: row;
    align-items: flex-end;
    gap: 14px;
    margin: 20px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-color: #fff;
  }
  .menu {
    height: 1135px;
    width: 69%;
    margin: auto;
    border-radius: 40px 40px 0px 0px;
  }
  .menu__heading {
    justify-content: center;
    width: 634px;
    gap: 30px;
  }
  .menuEntrance {
    width: 650px;
    margin: auto;
  }
  .menuEntrance__items__text__price {
    padding-right: 45px;
  }
  .menuEntrance__items__text {
    gap: 77px;
  }
  .footer {
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: -55px;
  }
  .footer__logo {
    margin: 20px;
  }
  .footer__link {
    width: 630px;
    flex-direction: row;
    align-items: flex-end;
    gap: 14px;
    margin: 20px;
  }
}/*# sourceMappingURL=delis.css.map */